* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}


.NavBar {
text-align: center;
align-items: center;
}

.App-NavigationBar {
/* text-align: center; */
display: flex;
flex-direction: row;
height: 65px;
width: 100%;
border-width: 0px;
border-bottom: #25316d;
border-bottom-width: 1px;
border-style: solid;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-Logo {
  display: flex;
  align-items: flex-start;
  margin-left: 1rem;
  width: 25%;
  height: 3rem;
}
.Logo {
width: 200px;
height: 100%;
}

.ul {
display: flex;
margin: 25px;
}

li {
margin: 0 2rem;
}

a {
text-decoration: none;
color:#25316d;
font-weight: bolder;

}

.App-NavigationBarTopRight {
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 100%;
/* height: auto; */
height: auto;
}

.App-NavBox {
width: auto;
margin-left: 40px;
margin-right: 40px;
/* margin-top: 50%; */
height: auto;
/* border: #25316D solid 2px; */
font-family: Palatino Linotype;
font-size: 20px;
font-weight: bold;
color: #444573;
}

.App-UserLogo {
margin-top: 0.55%;
margin-right: 2%;
width: 52px;
height: 45px;
overflow: hidden;
border-radius: 40px;
border: #25316d solid 2px;
}
.User {
margin-top: -6px;
margin-left: -27px;
width: 100px;
height: 57px;
}

.headline {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 75px;
  color: #444573;
  font-weight: bold; 
  text-align: left;
  margin-left: 5%;
  margin-top: 7%;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #444573;
  /* font-weight: bold; */
  text-align: left;
  margin-left: 5%;
  margin-right: 55%;
  margin-top: -2%;
}

.start-test-button-text {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  /* font-size: 25px; */
}

.test-button {
  margin-left: -1020px;
  margin-top: 2%;
  background-color: #446389;
  border: #25316D solid 1px;
}

.home-page-pic1 {
  margin-top: -20%;
  margin-right: -800px;
  width: 500px;
  height: 320px;
}

.reality {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #444573;
  font-weight: bold;
  font-size: 25px;
  margin-top: 17%;
  margin-left: 60%;
  margin-right: 10%;
}

.home-page-pic2 {
  margin-top: -500px;
  margin-left: -800px;
  padding-bottom: 100px;
  width: 500px;
  height: 320px;
}

.solution {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #444573;
  font-weight: bold; 
  text-align: left;
  margin-left: 5%;
  margin-right: 55%;
  margin-top: 17%;
}

.home-page-pic3 {
  margin-top: -20%;
  margin-right: -800px;
  margin-bottom: 200px;
  width: 500px;
  height: 320px;
}