body {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.App{
  width: 100vw;
}


.headline {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 75px;
  color: #444573;
  font-weight: bold; 
  text-align: left;
  margin-left: 5%;
  margin-top: 7%;
  margin-bottom: 75px;
}

.description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #444573;
  /* font-weight: bold; */
  text-align: left;
  margin-left: 5%;
  margin-right: 55%;
  margin-top: -2%;
}

.start-test-button-text {
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  /* background-color: aliceblue; */
  /* font-weight: bold; */
  font-size: x-large;
  text-align: center;
  cursor: pointer;
  /* font-size: 25px; */
}

.start-test-button-text a {
  color: white;
}

.test-button {
  margin-left: -50%;
  margin-top: 2%;
  border-radius: 25px;
  background-color: #446389;
  border: gainsboro solid 1px;
}

.home-page-pic1 {
  margin-top: -20%;
  margin-right: -800px;
  width: 500px;
  height: 320px;
}

.reality {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #444573;
  font-weight: bold;
  font-size: 25px;
  margin-top: 17%;
  margin-left: 60%;
  margin-right: 10%;
}

.home-page-pic2 {
  margin-top: -400px;
  margin-left: -800px;
  padding-bottom: 50px;
  width: 550px;
  height: 500px;
}

.solution {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #444573;
  font-weight: bold; 
  text-align: left;
  margin-left: 5%;
  margin-right: 55%;
  margin-top: 17%;
}

.home-page-pic3 {
  margin-top: -20%;
  margin-right: -800px;
  margin-bottom: 200px;
  width: 500px;
  height: 320px;
}

.nguon-tham-khao{
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: px;
}