/* *{
  background-color: #25316d;
} */
.NavBar {
  text-align: center;
  align-items: center;
}

.App-NavigationBar {
  /* text-align: center; */
  display: flex;
  flex-direction: row;
  height: 65px;
  width: 100%;
  border-width: 0px;
  border-bottom: #25316d;
  border-bottom-width: 1px;
  border-style: solid;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
}

.App-Logo {
  display: flex;
  align-items: flex-start;
  margin-top: 0.5%;
  margin-left: 1rem;
  width: 25%;
  height: 3rem;
}
.Logo {
  width: 200px;
  height: 100%;
}

.ul {
  color: white;
  display: flex;
  margin: 25px;
}

li {
  margin: 0 2rem;
}

a {
  text-decoration: none;
  color: #25316d;
  font-weight: bolder;
}

.App-NavigationBarTopRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  /* height: auto; */
  height: auto;
}

.App-NavBox {
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
  /* margin-top: 50%; */
  height: auto;
  /* border: #25316D solid 2px; */
  font-family: Palatino Linotype;
  font-size: 20px;
  font-weight: bold;
  color: #444573;
}

.App-UserLogo {
  margin-left: 180px;
  margin-top: 10px;
  width: 45px;
  height: 45px;
  overflow: hidden;
  border-radius: 22.5px;
  border: #25316d solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.User {
  width: 100px;
  height: 57px;
}
